/* Universal */

html, body, main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--light-grayish-blue);
    color: var(--verydark-blackish-blue);
}

a {
    color: inherit;
    font-weight: 700;
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: underline;
}

/* Colors */

:root {
    --moderate-violet: hsl(263, 55%, 52%);
    --verydark-grayish-blue: hsl(217, 19%, 35%);
    --verydark-blackish-blue: hsl(219, 29%, 14%);
    --HALF-dark-blackish-blue: hsla(219, 29%, 14%, 50%);
    --white: hsl(0, 0%, 100%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --HALF-light-grayish-blue: hsla(210, 46%, 95%, 50%);
}

.txt-light {
    color: var(--light-grayish-blue);
}

.txt-halflight {
    color: var(--HALF-light-grayish-blue);
}

.txt-dark {
    color: var(--verydark-blackish-blue);
}

.txt-halfdark {
    color: var(--HALF-dark-blackish-blue);
}

/* Grid Component */

/** Grid Layout **/

.grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#daniel {
    grid-area: 1 / span 2;
}

#jonathan {
    grid-area: 1 / 3;
}

#kira {
    grid-area: 1 / 4 / span 2;
}

#jeanette {
    grid-area: 2 / 1;
}

#patrick {
    grid-area: 2 / span 2;
}

/** Grid Articles **/

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.9rem;
    border-radius: 0.5rem;
    margin: 1rem;
    box-shadow: 1rem 1rem 2rem 0 hsl(0, 0%, 81%);
}

.head-text,
.body-text {
    font-size: 0.83rem;
}

.heading {
    display: flex;
    align-items: center;
}

.head-img {
    width: 2rem;
    border-radius: 50%;
    margin-right: 0.75rem;
}

.body-highlight,
.body-text {
    margin-top: 1rem;
}

.body-highlight {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.body-text {
    font-weight: 600;
    line-height: 1.2rem;
}

#kira,
#jeanette {
    background-color: var(--white);
    color: var(--verydark-blackish-blue);
}

#daniel {
    background-color: var(--moderate-violet);
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 5.5rem;

}

#jonathan {
    background-color: var(--verydark-grayish-blue);
}

#patrick {
    background-color: var(--verydark-blackish-blue);
}


/* Footer */

.attribution {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
    font-size: 0.8rem;
}

.attribution p {
    margin: 0.25rem;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    .grid {
        width: 85%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 0.65fr);
    }

    #kira {
        grid-area: 3 / span 3;
    }

}

@media screen and (max-width: 840px) {

    .grid {
    display: block;
}

}

@media screen and (max-width: 460px) {
    
    .grid {
        width: 90%;
    }

    .article {
        padding: 1.6rem;
    }

    #daniel {
        background-position: top right 1rem;
    }
}

