/* Universal */

html, body, main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/* Colors */

.bgcolor-white {
    background-color: hsl(0, 0%, 100%);
}

.bgcolor-gray {
    background-color: hsl(210, 46%, 95%);
}

.bgcolor-slate {
    background-color: hsl(217, 19%, 35%);
}

.bgcolor-dark {
    background-color: hsl(219, 29%, 14%);
}

.bgcolor-accent {
    background-color: hsl(263, 55%, 52%);
}

.txtcolor-dark {
    color: hsl(219, 29%, 14%);
}

.txtcolor-halfdark {
    color: hsla(219, 29%, 14%, 50%);
}

.txtcolor-light {
    color: hsl(210, 46%, 95%);
}

.txtcolor-halflight {
    color: hsla(210, 46%, 95%, 50%);
}

/* Grid Component */

/** Grid Layout **/

.grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#daniel {
    grid-area: 1 / span 2;
}

#jonathan {
    grid-area: 1 / 3;
}

#kira {
    grid-area: 1 / 4 / span 2;
}

#jeanette {
    grid-area: 2 / 1;
}

#patrick {
    grid-area: 2 / span 2;
}

/** Grid Articles **/

.article {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0.5rem;
    margin: 1rem;
    box-shadow: 1rem 1rem 1rem 0 hsl(0, 0%, 81%);
}

.head-text,
.body-text {
    font-size: 0.85rem;
}

.heading {
    display: flex;
    align-items: center;
}

.head-img {
    width: 2rem;
    border-radius: 50%;
    margin-right: 0.75rem;
}

.article-body,
.body-text {
    margin-top: 1rem;
}

.body-highlight {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.body-text {
    padding-top: 1rem;
    font-weight: 600;
}

/* Footer */

.attribution {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
    font-size: 0.8rem;
}

.attribution p {
    margin: 0.25rem;
}

/* Media Queries */

